<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{msg}}
    <br><br>
    <form action="/login" method="GET">
        Username:<input type="text" name="username" placeholder="enter username"><br><br>
        Password:<input type="password" name="password" placeholder="enter password"><br><br>
        <input type="submit" value="Login"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="/showregister" style="text-decoration:none ;">register</a></button>
    </form>
</body>
</html>