<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body><br><br>
    result :{{score}} 
    <br><hr><br>
    <table>
        {% for i in listdata %}
        <tr>
            <td>{{i.1}}</td>
            <td>{{i.0}}</td>
            <td>{{i.3}}</td>
            <td>{{i.4}}</td>
            <td>{{i.2}}</td>

        </tr>
        {% endfor %}

    </table>
    
    
</body>
</html>